*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

section{
    width: 100%;
    height: 100%;
    display: grid;
    padding: 1%;
    place-items: center;

}

section p{
    color: whitesmoke;
    font-size: 28px;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    line-height: 32px;

}

header{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

header div.galeria{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
}

header div.galeria div.single-galeria{
    width: 20%;
    height: 100%;
    margin: 0 3px;
    position: relative;
    transition: 1s;
}

header div.galeria div.single-galeria:first-child{
    width: 70% !important;
    
}

header div.galeria:hover div.single-galeria:first-child{
    width: 20% !important;
    
}

header div.galeria div.single-galeria:hover{
    width: 70% !important;
}

header div.galeria div.single-galeria:first-child:hover{
    width: 70% !important;
    
}

header div.galeria div.single-galeria img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

header div.galeria div.single-galeria div.info{
    color: white;
    width: 100%;
    position: absolute;
    background: linear-gradient(to top, rgb(0,0,0,0.8) 65%, transparent);
    padding: 16% 8%;
    bottom: 0;
}
header div.galeria div.single-galeria div.info h1{
    font-size: 26px;
    color: rgb(250, 252, 251);
}
header div.galeria div.single-galeria div.info p{
    font-size: 14px;
    line-height: 28px;
}

header div.galeria div.single-galeria div.info a{
    font-size: 14px;
    line-height: 28px;
    color: gold;
    text-decoration: none;
}

header div.galeria div.single-galeria div.info a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 764px){

    header div.galeria{
        width: 100%;
        height: 70vh;
       justify-content: flex-start;
       overflow-x: scroll;
    }
    
    header div.galeria div.single-galeria{
        min-width: 90% !important;
    }


}
