@charset "UTF-8";
@font-face {
    font-family:'idroid';
    src: url('fontes/idroid.otf') format('opentype');
    
}

@font-face {
    font-family: 'bebas';
    src: url('fontes/BebasNeue-Regular.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #ebe5c5;
}

header{
    background-image:linear-gradient(to bottom, #2fa866, #063d1e);
    min-height: 150px;
    padding-top: 40px;
    display: Block;
}
header>h1{
    font-size: 3em;
    color: whitesmoke;
    text-align: center;
    font-family:'bebas', 'Times New Roman', Times, serif;
    font-weight: normal;
    padding-top: 30px;
    margin-bottom: 20px;
    margin-top: 0px;
    text-shadow: 2px, 2px, 0px, rgba(0, 0, 0, 0.267);
}

header>p{

    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 50px;
    text-shadow: 2px 2px 0px rgb(0 0 0 / 32%);
}

nav{
    display: block;
    padding: 20px;
}


nav>a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1,3em;
    color: #31ad69;
    text-decoration: none;
    margin-left: 25px;
    box-shadow: 0px, 7px, 7px, (0,0,0,192);
}

nav>a:hover{
    font-style: bolder;
    transition-duration: 0.5s;
    color: #063d1e;
    background-color: #2fa866;
    border: 1px, dashed, #2fa866;
    border-radius: 5px;
    padding: 8px;
    
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main>strong {
    font-weight: bold;
    color: #042b15;
}

article>h2{
    color: #063d1e;
    font-size: 1,8em;
    font-family:'idroid', 'Times New Roman', Times, serif;
}
article>h3{
    color: #063d1e;
    font-size: 1,4em;
    font-family:'idroid', 'Times New Roman', Times, serif;
    background-image:linear-gradient(to right, #83e1ad, whitesmoke);
}
aside>h4{
    color: whitesmoke;
    font-size: 1.4em;
    padding: 0px 15px;
    margin: -10px -10px 0px -10px;;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #042b15;
    border: 1px dashed #042b15;
    line-height: 2em;
    border-radius: 8px 8px 0px 0px;
}
article>p{
    color: #063d1e;
    font-size: 1,5em;
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    line-height: 2em;
    text-indent: 30px;
}



article>p>a{
    font-weight: bold;
    background-color: #3ddc84;
    text-decoration: none;
    color: #063d1e;
    padding: 3px;
    

}

article>p>a:hover{
    text-decoration:underline;
    
}
article>picture img{
           
       width: 100%;
}
    
     source{
        max-width: 350px;
        display: block;
        margin: auto;
}
article>img {
        margin: auto;
        display: block;
}
div.video {
    background-color: #042b15;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#83e1ad;
    border-radius: 8px 8px 8px 8px; 
    color: #063d1e;  
    padding: 0px 10px 10px 10px; 
    line-height: 1.5em;

}

aside>p>a{
    font-weight: bold;
    text-decoration: none;
    color: #063d1e;
    padding: 3px;
    
    
}

aside>ul{
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
}

aside>p>a:hover{
    text-decoration:underline;

}
footer{
    background-color: #042b15;
    color: whitesmoke;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
